name: Workflow For PoC

on: 
  push: 
    branches:
    - main
  pull_request: 
    branches:
    - main
  workflow_dispatch:
    inputs:
      enable_cleanup_vm:
        description: "Cleanup VM after testing"
        type: boolean
        default: true


jobs:
  job1:
    if: github.event_name != 'workflow_dispatch' || inputs.enable_cleanup_vm
    outputs:
      run_job2: ${{ steps.test.outputs.run_job2 }}
      run_job3: ${{ steps.test.outputs.run_job3 }}
    runs-on: robot-dind
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout SVTECH_CICD_Utilities 
        uses: actions/checkout@v4
        with:
          repository: '${{ github.repository_owner }}/SVTECH_CICD_Utilities'
          token: ${{ secrets.GH_TOKEN }}
          path: SVTECH_CICD_Utilities
          ref: main

      - name: Echo file robot test
        run: |
          cat "${{ github.workspace }}/SVTECH_CICD_Utilities/integration-test/tacgui/robot/1-check_ui.robot"

      - name: Fake buildvar file
        run: |
          echo "BUILD_VERSION: 1" >> "${{ github.workspace }}/build_vars.yml"

      - name: Run TACGUI integration tests
        if: always() && !cancelled()
        run: |
          sh "${{ github.workspace }}/SVTECH_CICD_Utilities/integration-test/tacgui/run_testcase.sh" -D "${{ github.workspace }}" -I .
      - name: Upload Test result
        if: always()
        uses: actions/upload-artifact@v4.6.0
        with:
          name: robot-${{ github.job }}-result-#${{ github.run_number }}
          path: ${{ github.workspace }}/test_result

  
  job2:
    needs: job1
    if: needs.job1.outputs.run_job2 == 'true'
    runs-on: self-hosted
    permissions:
      contents: read
      packages: write
    steps:
    - name: Test 
      run: |
        echo test

  # job3:
  #   needs: 
  #     - job2
  #   if: always() && !cancelled() && needs.job1.outputs.run_job3 == 'true'
  #   runs-on: self-hosted
  #   permissions:
  #     contents: read
  #     packages: write
  #   steps:
  #   - name: Test 
  #     run: |
  #       echo test