name: Workflow For PoC

on: 
  push: 
    branches:
    - main
  pull_request: 
    branches:
    - main

# concurrency:
#   group: ${{ github.workflow }}-${{ github.event.pull_request.number }}

jobs:
  job1:
    outputs:
      run_job2: ${{ steps.test.outputs.run_job2 }}
      run_job3: ${{ steps.test.outputs.run_job3 }}
    runs-on: ubuntu-dind
    permissions:
      contents: read
      packages: write
    steps:
    - name: Test 
      id: test
      run: |
        echo test
        echo "run_job2=false" >> $GITHUB_OUTPUT
        echo "run_job3=true" >> $GITHUB_OUTPUT

    - name: Send mail to committer
      continue-on-error: true
      uses: dawidd6/action-send-mail@v6
      with:
        server_address: smtp.gmail.com
        server_port: 465
        secure: true
        username: phamtranlinhchi02@gmail.com
        password: "ebok kybv nlwt endp"
        subject: "TEST MAIL"
        body: |
          <a href="https://google.com">#hehehe</a>
        to: phamtranlinhchi02@gmail.com
        from: phamtranlinhchi02@gmail.com
  
  job2:
    needs: job1
    if: needs.job1.outputs.run_job2 == 'true'
    runs-on: self-hosted
    permissions:
      contents: read
      packages: write
    steps:
    - name: Test 
      run: |
        echo test heheh

  job3:
    needs: 
      - job2
    if: always() && !cancelled() && needs.job1.outputs.run_job3 == 'true'
    runs-on: self-hosted
    permissions:
      contents: read
      packages: write
    steps:
    - name: Test 
      run: |
        echo test